
.experience{
	background-color: #BEBEBE;
}

.experience-description{
	list-style-type: disc;
	margin-left: 15px;
	padding-bottom: 6px;
}

.experience .quote{
	text-align: center;
	width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

.experience .author{
    font-size: 18px;
}

.experience .author:last-child{
    margin-bottom: 0;
}

@media (max-width: 1000px){

	.experience .quote{
		font-size: 20px;
	}

	.experience .author{
	    font-size: 16px;
	}

}

