
.about-me{
	background-color: #18181d;
}

.about-me .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #232323;
}

.about-me .grid li.small{
	flex-basis: 40%;
}

.about-me .grid li.large{
	flex-basis: 60%;
}


@media (max-width: 1000px){

	.about-me .grid li.small,
	.about-me .grid li.large{
		flex-basis: 100%;
		width:100%;
	}

}

