
.cards {

	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}
@media screen and (max-width: 600px) {
  .cards {
    width: 100%;
	justify-content: center;
    display: column;
    margin-bottom: 20px;
  }
}

.cards__title {
    text-align: center;
    font-weight: bold;
    line-height: 1.15;
    font-size: 24px;
    margin: 0;
    padding-bottom: 16px;
}

.cards__item {
	width: 240px;
	/* margin-right: 50px; */
	text-align: center;
	padding-top: 60px;
	margin-left: auto;
	margin-top: 0px;
	margin-right: 50px;
}
@media screen and (max-width: 600px) {
  .cards__item {
    width: 100%;
	justify-content: center;
    display: column;
    margin: 0;
    margin-bottom: 20px;
  }
}



.cards__image {
    margin:0 40px 43px;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    
}

.cards__image:hover{
	 border: 5px solid #9600ff;
}

.cards__description {
    padding-top: 16px;
    text-align: center;
    font-size: 18px;
    line-height: 23px;
    font-weight: normal;
    margin:0;
    padding: 0;
}